*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background:#ccdde0;
    display: flex;
    justify-content: center;
    align-items: center;

}


button{
    flex: 0 0 20%;
    margin: 5px 0;
   width:100px;
   height: 48px;
   font-size: 22px;
   font-weight: 600;
   border-radius: 10px;
   cursor:pointer; 
}